.results {
  @include absolute-rt(0%, 0%);
  height: 100vh;
  z-index: 10;
  transition: all 0.4s;
  @include blur(120%, 10px);
  overflow: auto;
  padding-top: 1em;
  &::-webkit-scrollbar {
    width: 0;
  }
  &__title {
    color: #fff;
    text-align: center;
    @include font(1.2em, 2em, 100, 6px);
  }
  &__wrapper {
    @include flex-around(center, row wrap);
    margin-top: 1em;
  }
  &__item {
    @include flex-between(flex-start, column);
    width: 45%;
    margin-bottom: 1em;
    cursor: pointer;
    &__imgBox {
      width: 100%;
      aspect-ratio: 9/13;
      overflow: hidden;
      background-color: #333;
      img {
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        @include hover-scale(1.1, 0.4s);
      }
    }

    h1 {
      @include font(0.9em, 1.5em, 400, 2px);
      color: #fff;
      height: 3em;
      margin-top: 1em;
      padding: 0 2px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2; /*省略第n行後的文字*/
      -webkit-box-orient: vertical; /*設定元素是垂直布局*/
    }
    p {
      width: 100%;
      padding: 0 2px;
      @include flex-between(center, row);
      @include font(0.6em, 2em, 100, 2px);
      color: #fff;
      margin-top: 1em;
      span {
        @include size(3em, 3em);
        @include bg-contain;
        background-image: url('../../images/plus.png');
        cursor: pointer;
        transition: all 0.1s;
        &:active {
          transform: rotate(20deg);
        }
      }
    }
  }
}
